<?xml version="1.0"?>
<launch>
    <arg name="config_dir" default="/config/sim_ur5/"/>
    <arg name="path_to_main_dir" default="$(find spine_robot_control)"/>
    <arg name="constraint_config"/>
    <arg name="trace_path"/>
    <arg name="verbosity" default="INFO"/>
    <arg name="do_bag" default="0"/>
    <arg name="bag_save_dir" default="/tmp"/>


    <include file="$(find continuum_manip_volumetric_drilling_plugin)/launch/run_cm_vol_drill_simul.launch">
        <arg name="ambf_args" value=" \
          -l 11,15,25,29,30 \
          --anatomy_volume_name spine_seg \
          --debug_traj_file $(arg trace_path) \
          --name_body_to_trace Burr \
          --csv_filename_static_traces $(arg trace_path) \
          --static_trace_rel_body_name spine_seg \
          --experimental_behavior 1"/>
    </include>

    <node pkg="continuum_manip_volumetric_drilling_plugin" name="ambf_ros_ur5" type="ur5_ambf.py" output="screen"/>

    <node pkg="continuum_manip_volumetric_drilling_plugin" name="xreg_imager" type="start_xreg_imager_from_roslaunch.sh" args="/home/$(env USER)/snake_registration/simulation/JustinSnakeModel_huatt/ /home/$(env USER)/snake_registration/simulation/output/ /home/$(env USER)/snake_registration/simulation/anatomy/" output="screen"/>


    <include file="$(find snake_estimator)/launch/snake_estimator_kalman.launch">
        <arg name="l_to_pose_cal_filename" value="$(arg path_to_main_dir)$(arg config_dir)freespace_cal_l_to_x.txt"/>
        <arg name="th_to_jac_cal_filename" value="$(arg path_to_main_dir)$(arg config_dir)freespace_cal_th_to_dx.txt"/>
        <arg name="cal_units_to_m" value="1.0"/>
        <arg name="verbosity" value="$(arg verbosity)"/>
        <!-- <arg name="rate" value="1000"/> -->
    </include>

    <node pkg="spine_robot_control" type="AMBFURWithSnake" name="AMBFURWithSnake" output="screen" args=
        "-c $(arg config_dir) 
        -m $(arg path_to_main_dir)
        -x $(arg constraint_config)"/>

    <node pkg="rqt_image_view" type="rqt_image_view" name="image_view" args="/snake_imager/image"/>




    <group if="$(eval arg('do_bag') == 1)">

    <arg name="node_start_delay" default="6.0" />  
   
        <node pkg="rosbag" type="record" name="recorder" args="record -o $(arg bag_save_dir) \
        /ambf/env/snake_stick/State \
        /ambf/env/Burr/State \
        /ambf/env/seg27/State \
        /SystemTask/system/measured_cp \
        /snake_imager/tip_pos_estimate_imgonly_relative_checked \
        /SystemTask/holding_at_goal /post_proc_info"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />    <!-- This delays the high-level script for a bit to give everything a chance to start up -->
    </group>

</launch>