<?xml version="1.0"?>
<launch>
    <arg name="config_dir" default="/config/sim_ur5/"/>
    <arg name="path_to_main_dir" default="$(find spine_robot_control)"/>
    <arg name="constraint_config"/>
    <arg name="trace_path"/>
    <arg name="verbosity" default="INFO"/>

  <include file="$(find snake_estimator)/launch/snake_estimator_kalman.launch">
    <arg name="l_to_pose_cal_filename" value="$(arg path_to_main_dir)$(arg config_dir)freespace_cal_l_to_x.txt"/>
    <arg name="th_to_jac_cal_filename" value="$(arg path_to_main_dir)$(arg config_dir)freespace_cal_th_to_dx.txt"/>
    <arg name="cal_units_to_m" value="0.1"/>
    <arg name="verbosity" value="$(arg verbosity)"/>
  </include>

</launch>